.riggioni-h1 {
  font-size: 3em;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  hyphens: auto;
  outline: none;
}
