.riggioni-h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  hyphens: auto;
  outline: none;
}

.riggioni-h1--reset {
  all: unset;
  display: block;
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
}
