.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 15em;
  height: 15em;
  margin: 0 auto;
}

.spinner-orbit {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: spinner-rotate 2s linear infinite;
  top: 0;
  left: 0;
}

.spinner-dot {
  position: absolute;
  width: 1em;
  height: 1em;
  background-color: var(--primary-color);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
}

.spinner-dot:nth-child(1) {
  transform: rotate(0deg) translate(7em) translate(-50%, -50%);
}

.spinner-dot:nth-child(2) {
  transform: rotate(51.43deg) translate(7em) translate(-50%, -50%);
}

.spinner-dot:nth-child(3) {
  transform: rotate(102.86deg) translate(7em) translate(-50%, -50%);
}

.spinner-dot:nth-child(4) {
  transform: rotate(154.29deg) translate(7em) translate(-50%, -50%);
}

.spinner-dot:nth-child(5) {
  transform: rotate(205.71deg) translate(7em) translate(-50%, -50%);
}

.spinner-dot:nth-child(6) {
  transform: rotate(257.14deg) translate(7em) translate(-50%, -50%);
}

.spinner-dot:nth-child(7) {
  transform: rotate(308.57deg) translate(7em) translate(-50%, -50%);
}

@keyframes spinner-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
