.section-academic {
  width: 100%;
  padding: var(--section-padding) var(--gap-sm);
  text-align: center;
  background-color: var(--color-bg);
}

.academic-title {
  margin: 0 0 30px;
  font-weight: 500;
}

.academic-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap-md);
  list-style-type: none;
}

.academic-item {
  min-width: 160px;
  color: #333;
}
.academic-item h3 {
  margin: 0 0 6px;
  font-weight: 500;
}
.academic-item p {
  margin: 0;
  color: var(--color-muted);
}
