.contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 100vh;
  gap: 220px; /* Incrementar la separación horizontal */
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 200;
}

.avatar-circle {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-color: #000;
  margin-bottom: 35px;
}

.avatar-name {
  margin-top: 10px;
  font-size: 1.2em;
  text-align: center;
}

.contact-info {
  text-align: left;
}

.contact-info h1 {
  margin-bottom: 80px; /* Incrementar el espacio debajo del H1 */
  font-size: 3em;
  font-weight: 300;
}

.contact-info h2 {
  margin-bottom: 25px;
  font-size: 1.5em;
}

.contact-info h3 {
  font-size: 1.2em; /* Reducir el tamaño de los H3 dentro de contact-info */
  font-weight: 300; /* Asegurar un peso medio-alto para la fuente */
}

.contact-item {
  display: flex;
  justify-content: flex-start; /* Alinear label y value al inicio */
  gap: 100px; /* Agregar espacio entre el label y el value */
  align-items: center;
  margin: 15px 0;
  line-height: 1.6;
}

.contact-label {
  font-weight: bold;
  margin-right: 10px;
}

.contact-value {
  flex-grow: 1;
  text-align: left; /* Justificar los valores a la izquierda */
  margin-left: 10px; /* Ajustar separación con el label */
}

.divider {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  margin: 25px 0;
}

.social-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px; /* Agregar separación encima de la sección de social links */
}

.social-links {
  display: flex;
  gap: 20px; /* Ajustar la separación entre los enlaces sociales */
  margin-top: 10px;
  align-items: center; /* Alinear verticalmente con el botón de WhatsApp */
}

.icon {
  font-size: 1.5em;
}

.whatsapp-button {
  display: flex;
  justify-content: center; /* Centrar el contenido del botón */
  align-items: center;
  gap: 12px;
  padding: 5px 20px;
  background-color: #3a0a0c;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 200;
}

@media (max-width: 768px) {
  .contact-page {
    flex-direction: column;
    gap: 20px; /* Reducir la separación en pantallas pequeñas */
    padding: 20px; /* Agregar padding para mejor visualización */
    overflow-x: hidden; /* Evitar que el contenido se salga horizontalmente */
  }

  .avatar {
    align-items: center;
    margin-top: 120px; /* Incrementar aún más el margen superior para evitar que el círculo se corte */
  }

  .contact-info {
    text-align: center; /* Centrar el texto en pantallas pequeñas */
  }

  .avatar-circle {
    width: 140px; /* Ajustar el tamaño del círculo del avatar */
    height: 140px;
  }

  .social-links {
    flex-wrap: wrap; /* Permitir que las redes sociales se ajusten */
    justify-content: center; /* Centrar las redes sociales */
  }

  .social-links-container {
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Ajustar la separación vertical */
  }

  .whatsapp-button {
    width: 100%; /* Hacer que el botón ocupe todo el ancho */
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 30px; /* Aumentar el tamaño del botón en dispositivos móviles */
    font-size: 1.2em; /* Incrementar el tamaño del texto */
  }
}
