.riggioni-h3-base {
  font-size: 1.8em;
  line-height: 1.3;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
}

.riggioni-h3 {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  hyphens: auto;
  outline: none;
}

.riggioni-h3,
.riggioni-h3--reset {
  font-size: 1.8em;
  line-height: 1.3;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
}

.riggioni-h3--reset {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}
