.contact-info {
  text-align: left;
  width: 100%;
}

.contact-info h1 {
  text-align: center;
  margin-bottom: 80px;
  font-size: 3em;
  font-weight: 300;
}

.contact-info h2 {
  margin-bottom: 25px;
  font-size: 1.5em;
}

.contact-info h3 {
  font-size: 1.2em;
  font-weight: 300;
}

.contact-item {
  display: flex;
  justify-content: flex-start;
  gap: 100px;
  align-items: center;
  margin: 15px 0;
  line-height: 1.6;
}

.contact-label {
  font-weight: bold;
  margin-right: 10px;
}

.contact-value {
  flex-grow: 1;
  text-align: left;
  margin-left: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-info {
    text-align: center;
  }

  .contact-item {
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin: 25px 0;
  }

  .contact-label {
    margin-right: 0;
    text-align: center;
  }

  .contact-value {
    margin-left: 0;
    text-align: center;
    word-break: break-word;
    max-width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .contact-item {
    gap: 30px;
  }
}
