.social-links {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .social-links {
    justify-content: center;
    gap: 60px;
  }
}
