.whatsapp-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 5px 20px;
  background-color: #3a0a0c;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 200;
}

.whatsapp-button img {
  width: 20px;
  height: 20px;
  display: block;
}

@media (max-width: 768px) {
  .whatsapp-button {
    width: 100%;
    margin: 30px 0;
    padding: 10px 30px;
    font-size: 1.2em;
  }

  .whatsapp-button img {
    width: 28px;
    height: 28px;
  }
}
