.app {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
