@import "./colors.css";

.app {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.app h1 {
  font-family: "Arima", cursive;
  color: var(--text-color);
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.app p {
  font-family: "Lexend Deca", sans-serif;
  color: var(--text-color);
  font-size: 1.1rem;
  margin: 0;
}

.select-demo {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
