.languages-list {
  text-align: center;
}

.languages-title {
  margin: 0 0 26px;
  font-weight: 500;
}

.lang-list {
  list-style: none;
  padding: 0;
  margin: 14px 0 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.lang-list li {
  color: #444;
  font-size: 15px;
}
